@model Product

@{
    ViewData["Title"] = "Create Product";
}

<h1>Create Product</h1>
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OldPrice" class="control-label"></label>
        <input asp-for="OldPrice" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label">Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
            <option>Select a Category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating" class="control-label"></label>
        <input asp-for="Rating" class="form-control" />
    </div>
    <div class="form-check">
        <input asp-for="IsNew" class="form-check-input" />
        <label asp-for="IsNew" class="form-check-label"></label>
    </div>
    <div class="form-check">
        <input asp-for="IsHot" class="form-check-input" />
        <label asp-for="IsHot" class="form-check-label"></label>
    </div>
    <div class="form-check">
        <input asp-for="IsOnSale" class="form-check-input" />
        <label asp-for="IsOnSale" class="form-check-label"></label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>